.movies {
  padding: 0 70px;
  min-height: calc(100vh - 246px);
  display: flex;
  flex-direction: column;
}

.movies__more-button {
  width: 100%;
  height: 36px;
  padding: 0;
  margin: 50px auto 80px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: all 0.2s ease-in-out;
}

.movies__more-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 870px) {
  .movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 520px) {
  .movies {
    padding: 0 10px;
  }
}
