.search {
  padding: 80px 0 10px;
}

.search__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}

.search__form-input {
  margin: 0;
  padding: 0 0 0 22px;
  border: none;
  height: 48px;
  width: 100%;
  max-width: 1060px;
  display: block;
  background-color: #f9f9f9;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.search__form-input::placeholder {
  color: #a0a0a0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.search__form-button {
  margin: 0;
  padding: 0;
  width: 70px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  background-color: #ff6838;
  border: none;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.search__form-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 520px) {
  .search {
    padding: 81px 4px 10px;
  }

  .search__form {
    padding-bottom: 44px;
  }

  .search__form-input {
    height: 44px;
  }

  .search__form-input::placeholder {
    padding-left: 16px;
  }
}
